<!DOCTYPE html>
<html>
<head>
  <title>Myrailsapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header' align='center' valign="middle">
    <h3>Here is the header</h3>
    <div class='nav'>
      <ul>
        <li>
          <%= link_to '主页', root_path %>
        </li>
      </ul>
    </div>
  </div>
  <div id="contents">
    <%= yield %>
  </div>
  <!--
  <div id='footer' align='center' valign="middle">
    <h3>Here is the footer</h3>
  </div>
  -->
</body>
</html>
